/* =========================
      GENERAL
===========================*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Crimson Text', serif;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #f5e9d5;
}

:root {
  font-size: 16px;
}


h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.5;
  text-align: center;
  width: 60%;
  color: #447604;
  font-family: 'Nothing You Could Do', cursive;
}
p {
  font-size: 1rem;
  maring: 0;
  padding: 0;
  line-height: 1.5;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 2.10rem; }
h5 { font-size: 1.75rem; }
h6 { font-size: 1.5rem; }

.slide {
  animation-name: slide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% { transform: translateY(-80px); }
  100% {transform: translateY(1px); }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f5e9d5;
}

main {
  background-color: #f5e9d5;
  color: #447604;
  padding: 3vw 0 0 0;
}

/* icons */

.fab,
.fas {
  padding: 0 5px;
  transition: transform .3s;
}

.fab:hover,
.fas:hover {
  transform: scale(1.15);
  color: #982400;
  cursor: pointer;
}

/* =========================
        FOOTER
===========================*/

footer {
  color: #f5e9d5;
  text-align: left;
  padding: 3vw;
  background-image: url("images/footerimage2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}


/* =========================
        NAVIGATION BAR
===========================*/

header {
  background: rgba(68, 119, 4, 0.75);
  position: fixed;
  z-index: 1000;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.logo {
  max-width: 20vw;
  min-width: 250px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-toggle {
  color: #f5e9d5;
  cursor: pointer;
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: rgba(68, 119, 4, 0.55);
  width: 100%;
  transform: scale(1,0); /*grows it horizontally but not vertically */
  transform-origin: top;
  transition: transform 600ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0;
}

nav a {
  color: #f5e9d5;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.75rem;
  display: block;
  padding: 10px;
  padding-right: 75px;
  opacity: 0;
}

nav ul li a {
  transition-property: color, background-color;
  transition-duration: .5s;
}

nav ul li a:hover {
  color: #663b08;
  background-color: rgba(255, 255, 255, 0.75);

}

.nav-toggle:checked ~ nav {
  transform: scale(1.1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 300ms ease-in-out 250ms;
}

/* =========================
          HOME PAGE
===========================*/

.video-container {
  height: 75vh;
  width: 100vw;
  background-image: url("images/herd.jpg");
  background-size: cover;
  background-position: bottom;
}

.video-container video {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.active {
  background-color: rgba(68, 119, 4);
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

main > h3 {
  padding: 5vw 0;
}

.main-message-parent {
  background-color: #f5e9d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vw 0;
}

.main-message {
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  color: #447604;
}



.secondary-message-parent {
  background: rgba(68, 119, 4, 0.85);
  color: #f5e9d5;
  text-align: center;
  padding: 0 5vw 5vw 5vw;
}

.offwhite {
  color: #f5e9d5;
}

/* SLIDESHOW */

.mySlides {
  display: none;
}



/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides img {
  height: 350px;
  width: auto;
  object-fit: cover; /*this crops the photos to keep dimensions */
}




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* end of slideshow */

.tertiary-message-parent {
  padding: 0 10vw 5vw 10vw;
  background-color: #f5e9d5;
  text-align: center;
  color: rgb(68, 119, 4);
}

.fading {
  animation: fade 2s linear;
}

@keyframes fading {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

#dot_indicator {
  display: none;
}


/* =========================
          CONTACT
===========================*/

.contactAndAbout-image {
  height: 50vh;
  background-attachment: fixed;
}

.contactAndAbout-image img {
  height: 100%;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
}

.contactWrapper {
  padding: 0 5vw 5vw 5vw;
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: rgb(59, 34, 9);
  background-image: url(images/wood.jpg);
  background-size: cover;
  background-position: center;
  height: 40vw;
  min-height: 400px;
  border-radius: 10px;
  line-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
}

input, {
  display: block;
  margin: .5rem;
  padding: 10px;
}

input, textarea {
  color: #f5e9d5;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  outline: none;
}


label, textarea {
  display: block;
  padding: 5px;
  border: none;
}

.contactWrapper label {
  font-family: 'Nothing You Could Do', cursive;
  color: #f5e9d5;
  font-size: 1.5rem;
  margin: .75rem 0;
}

#msg {
  width: 90%;
  height: 40vw;
  border-radius: 10px;
  background-color: rgba(93, 48, 12, 0.78);
}

input {
  background-color: rgba(93, 48, 12, 0.78);
}

button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1rem 2rem;
  color: #f5e9d5;
  font-family: 'Nothing You Could Do', cursive;
  background-color: rgb(93, 48, 12);
  border: 4px solid rgb(93, 48, 12);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 900;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

button:hover {
  color: rgb(93, 48, 12);
  background-color: #f5e9d5;
  border: 4px solid rgba(93, 48, 12);
  -ms-transform: scaleX(1.1); /* IE 9 */
  -webkit-transform: scaleX(1.1); /* Safari 3-8 */
  transform: scaleX(1.1);
}

.button {
  text-align: center;
}

input:focus,
textarea:focus {
  border: 4px solid #291906;
}



/* Google Maps and Facebook */

#flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  width: 85%;
  height: 50vh;
  background-color: rgba(68, 119, 4, 0.55);
  margin: 5vw auto;
  border: 6px solid rgba(68, 119, 4, 0.55);
}



/* =========================
          ABOUT
===========================*/
#about-container {
  padding-bottom: 5vw;
  display: flex;
  flex-direction: column;
}


.about-paragraph {
  padding: 0 10vw 5vw 10vw;
  text-align: center;
}

.wide-image {
  width: 80vw;
  display: block;
  margin: 0 auto 1rem auto;
  box-shadow: 10px 10px 50px #8c8c8c;
  -webkit-transition: transform 1s ease; /* Safari and Chrome */
  -moz-transition: transform 1s ease; /* Firefox */
  -o-transition: transform 1s ease; /* IE 9 */
  -ms-transition: transform 1s ease; /* Opera */
  transition: transform 1s ease;
}

.wide-image:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}



/* =======================================================
                        MEDIA QUERIES
=========================================================*/

@media (min-width: 700px) {


  .mySlides img {
    height: 550px;
  }



  footer {
    clear: both;
  }
  :root {
    font-size: 1.5rem;
  }

  /* contact page */

  .contactWrapper {
    padding: 0 15vw;
  }

  form {
    height: 40vw;
    min-height: 700px;
    margin-right: 4vw;
  }

  #msg {
    height: 29vw;
  }

  /* =========================
        NAVIGATION BAR
  ===========================*/

  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  nav,
  nav ul,
  nav ul li,
  nav ul li a {
    all: unset;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 1vw;
  }

  nav ul li a {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 500;
    padding: .2rem 4vw .2rem .2rem;
    color: #f5e9d5;
    font-size: 1.25rem;
    cursor: pointer;
    border-bottom: 2px solid #f5e9d5;
    border-top: 3px solid #f5e9d5;
    /* adds duration to hover effect of changing color*/

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    }

    nav ul li a:hover {
    color: #663b08;
    padding-left: 4vw;
    background-color: rgba(249, 249, 249);
    -webkit-transform: scale(1.25);
     -moz-transform: scale(1.25);
       -o-transform: scale(1.25);
          transform: scale(1.25);
    }

    .video-container {
      background-image: none;
    }


    .video-container video {
      width: 100%;
      display: block;
      object-fit: cover;
    }

  /* =========================
          HOME PAGE
  ===========================*/

  .video-container {
    overflow: hidden;
  }

  #circle-parent {
    flex-direction: row;
  }

  .circle-text {
    top: 30%;
    font-size: 1.5vw;
  }

  poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .secondary-message-parent,
  .tertiary-message-parent {
    padding: 3vw 10vw 5vw 10vw;
  }

  #slide_parent {
    width: 100vw;
  }

  /* =========================
        ABOUT
  ===========================*/

  .wide-image {
    width: 60vw;
  }

}

@media (min-width: 1400px) {

  .about-paragraph {
    padding: 0 2vw 0 2vw;
  }

  #about-container {
    flex-direction: row;
    align-items: center;
    padding: 0 15vw 5vw;
  }

  .about-paragraph {
    margin: 40px;
    padding: 30px;
    border-top: 2px solid #447604;
    border-bottom: 2px solid #447604;
  }

  .wide-image {
    width: auto;
    height: 25vw;
  }

  #flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  form {
    height: 30vw;
    min-height: 600px;
    margin-bottom: 0;
  }

  #msg {
    height: 17vw;
  }

  #map {
    width: 100%;
    margin: 5vw 0;
  }
}
